a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  background: url(./bg.jpg) no-repeat center;
  background-size: cover;
}

.phone {
  background: url(./bg.jpg) no-repeat center;
  background-size: cover;
}
.scroll-hidden {
  overflow-y: auto; /* or scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.slider {
  width: 100%;
  /* hiding in diffrent browsers */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}
.slider::-webkit-slider-thumb {
  /* hiding in diffrent browsers */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  background: radial-gradient(pink, red);
  border-radius: 50%;
}
/* //apply moz- */
.slider::-moz-range-thumb {
  /* hiding in diffrent browsers */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  background: radial-gradient(pink, red);
  border-radius: 50%;
}

#label {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: slideAnimation 3s ease-in-out infinite;
}

@keyframes slideAnimation {
  0%,
  100% {
    color: #000;
    filter: drop-shadow(0 0 10px purple);
  }
  50% {
    color: purple;
    filter: drop-shadow(0 0 10px purple);
  }
}
